.about-container{
  text-align:center;
  background-color:#5D81B9;
  margin: 0;
  padding: 8rem 3rem;
  color:white;
}

h1{
  padding-bottom:1vh;
}

.function-container{
  text-align: center;
}

h3 {
  padding: 6vh;
}

.container{
  display:block;
  width: 100%;
  margin:0;
}

.line1{
  display:flex;
  margin:0;
  align-items: center;
  justify-content: center;
}

.line2{
  display:flex;
  margin:0;
  align-items: center;
  justify-content: center;
}
