.img-talk{
  height: 400px;
  padding: 0;
}

.about-container{
  text-align:center;
  background-color:#5D81B9;
  margin: 0;
  padding: 8rem 3rem;
  color:white;
}

h1{
  padding-bottom:1vh;
}

.function-container{
  text-align: center;
  padding:5vh;
}

h3 {
  padding: 7vh;
}

.container{
  display:block;
  width: 100%;
  margin:0;
}

.line1{
  display:flex;
  margin:0;
  align-items: center;
  justify-content: center;
  padding-bottom:50px;
}

.line2{
  display:flex;
  margin:0;
  align-items: center;
  justify-content: center;
}

.item{
  width:300px;
}
.item>img{
  width:64px;
  margin-bottom: 2vh;
}