.aboutqs{
  text-align: center;
  font-size: 30px;
  font-weight: Bold;
  color: black;
}
.aboutas{
  text-align: center;
  font-size: 30px;
  font-weight: Bold;
}
.aboutexplain{
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}