footer {
  background: #292f35;
}
footer .footer-title {
  position: relative;
  margin-bottom: 2rem;
}
footer .footer-title:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 2px;
  background: #248eff;
  top: 30px;
}
footer .bottom-footer {
  background-color: #181d21;
  color: #6c757d;
}
footer .quick-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer .quick-links a {
  text-decoration: none;
  font-size: 0.9rem;
  display: inline-block;
  padding: 0.3rem 0;
  color: #6c757d !important;
}
footer .quick-links a:hover {
  color: #a1a8ae !important;
}
