@keyframes scrolled {
  0% {
      top: -70px;
  }
  100% {
      top: 0;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

}
@media (max-width: 768px) {
  .header {
      position: absolute;
  }
}
.header .navbar-brand .LogoImage img{
  width: 60%;
  padding-bottom: 15px;
}
@media (max-width: 768px) {
  .header .navbar-brand .LogoImage img{
    width: 50%;
    padding-bottom: 2px;
  }
}
.header .navbar {
  box-shadow: 0px 5px 10px rgba(43, 73, 111, 0.2);
  padding: 40px 0px 10px 0px;
}
@media (max-width: 768px) {
  .header .navbar {
    box-shadow: 0px 5px 10px rgba(43, 73, 111, 0.2);
    padding: 5px;
  }
}
@media (max-width: 768px) {
  .header .navbar.scrolled {
      position: fixed;
      left: 0;
      right: 0;
      animation: scrolled 0.3s ease forwards;
      
  }
}

.header .navbar-collapse{
  justify-content: flex-end;
}
.header .nav-link {
  text-transform: uppercase;
  font-weight: 600;
  color: #4A4A4A !important;
  font-size: 1.1rem;
  padding-left: 0;
}
.header .nav-link:hover {
  color: #5BB7DE !important;
}
.header .nav-link.active {
  color: #5BB7DE !important;
}
@media (max-width: 768px) {
  .header .nav-link {
      padding: 1rem 1rem;
  }
}
.header .nav-item {
  padding-left: 3.5rem;
}

.header .nav-icon {
  width: 30px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.header .nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4e4e4e;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header .nav-icon span:nth-child(1) {
  top: 0px;
}
.header .nav-icon span:nth-child(2) {
  top: 9px;
}
.header .nav-icon span:nth-child(3) {
  top: 18px;
}
.header .nav-icon.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.header .nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.header .nav-icon.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
