#home {
  height: calc(100vh - 30px);
  margin-top: 56px;
  color:white;
}
@media (max-width: 768px) {
  #home {
      margin-top: 115px;
  }
}
#home > div {
  height: 100%;
}
#home .home-content {
  height: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#home .home-content:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.2;
}
#home .home-content .intro {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  z-index: 2;
}

#home .home-content .intro  .LogoImage_home img{
  width: 18%;
  margin: 0px 35px 25px 0;
}
@media (max-width: 768px) {
  #home .home-content .intro  .LogoImage_home img{
    width: 55%;
    margin: 0px 35px 25px 0;
  }
}
#home .home-content .intro .sub-title {
  font-weight: normal;
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 175%;
}
@media (max-width: 768px) {
  #home .home-content .intro .sub-title {
    font-size: 1.2rem;
  }
}
#home .startbtn {
  font-size: 1.2rem;
  background-color: #f2f2f2;
  color: #37619E;
  font-weight: 600;
  padding: 15px 40px;
  border-radius: 10px;
}